In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("NCHS_-_Death_rates_and_life_expectancy_at_birth.csv")
df.head()

,Year,Race,Sex,Average Life Expectancy (Years),Age-adjusted Death Rate
0,2015,All Races,Both Sexes,NaN,733.1
1,2014,All Races,Both Sexes,78.9,724.6
2,2013,All Races,Both Sexes,78.8,731.9
3,2012,All Races,Both Sexes,78.8,732.8
4,2011,All Races,Both Sexes,78.7,741.3

In [3]:
#df.shape #(1044, 5)
df.columns.tolist()

['Year',
 'Race',
 'Sex',
 'Average Life Expectancy (Years)',
 'Age-adjusted Death Rate']

In [4]:
df = df.drop('Age-adjusted Death Rate', axis=1)
df.head()

   Year       Race         Sex  Average Life Expectancy (Years)
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

In [13]:
import numpy as np

In [27]:
avg_df = df[df["Race"] == "All Races"]
avg_df = avg_df[avg_df["Sex"] == "Both Sexes"]
avg_df.head()

   Year       Race         Sex  Average Life Expectancy (Years)
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

In [30]:
avg_df['Average Life Expectancy (Years)'].replace('', np.nan, inplace=True)
avg_df.head()

   Year       Race         Sex  Average Life Expectancy (Years)
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

In [31]:
avg_df.dropna(subset=['Average Life Expectancy (Years)'], inplace=True)
avg_df.head()

   Year       Race         Sex  Average Life Expectancy (Years)
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7
5  2010  All Races  Both Sexes                             78.7

In [32]:
avg_df.shape

(115, 4)

In [33]:
avg_df_csv = pd.DataFrame(avg_df)
avg_df_csv.to_csv("NCHS_-_Death_rates_and_life_expectancy_avg.csv")

In [5]:
gender_df = df[df["Race"] == "All Races"]
gender_df.head()

   Year       Race         Sex  Average Life Expectancy (Years)
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

In [20]:
# gender_df[gender_df['Average Life Expectancy (Years)'] != np.nan]
gender_df['Average Life Expectancy (Years)'].replace('', np.nan, inplace=True)
gender_df.head()

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:3924: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

   Year       Race         Sex  Average Life Expectancy (Years)
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

In [22]:
gender_df.dropna(subset=['Average Life Expectancy (Years)'], inplace=True)
gender_df.head()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   Year       Race         Sex  Average Life Expectancy (Years)
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7
5  2010  All Races  Both Sexes                             78.7

In [23]:
gender_df_csv = pd.DataFrame(gender_df)
gender_df_csv.to_csv("NCHS_-_Death_rates_and_life_expectancy_gender.csv")

In [37]:
race_df = df[df["Sex"] == "Both Sexes"]
race_df.head()

   Year       Race         Sex  Average Life Expectancy (Years)
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

In [39]:
race_df['Average Life Expectancy (Years)'].replace('', np.nan, inplace=True)
race_df.head()

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:3924: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

   Year       Race         Sex  Average Life Expectancy (Years)
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

In [40]:
race_df.dropna(subset=['Average Life Expectancy (Years)'], inplace=True)
race_df.head()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   Year       Race         Sex  Average Life Expectancy (Years)
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7
5  2010  All Races  Both Sexes                             78.7

In [41]:
race_df_csv = pd.DataFrame(race_df)
race_df_csv.to_csv("NCHS_-_Death_rates_and_life_expectancy_race.csv")

In [9]:
# gender_df = gender_df.drop('Age-adjusted Death Rate', axis=1)
# gender_df.head()

In [10]:
# race_df = df[df["Sex"] == "Both Sexes"]
# race_df.head()